.footer
{
  color: white;
  font-weight: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  flex-direction: row;
  justify-self: left;
  margin-bottom: 0%;
  
}

.footer_container
{
  background-color: #292828;
  padding-top:2rem;
  padding-bottom: 3rem;
  padding-left:1rem ;
  padding-right:1rem ;
  border-radius: .3rem;
  bottom: 0;
 
}