.user-logo
{
  margin-top: 2rem;
}

.course-container {
  margin: 20px auto;
  width: 80%;
}

.course-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.course-form h2 {
  margin-top: 0;
}

.course-form form {
  display: flex;
  flex-direction: column;
}

.course-form label {
  margin-bottom: 8px;
}

.course-form input,
.course-form textarea {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.course-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.course-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.added-course {
  margin-top: 0;
}
