
.about-container
{
 display:flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
  background-color: #fdf1f1;
}
.image-container
{
  background-color: #fdf1f1;  
}
.about-img
{
  width: 400px;
  height: auto;
  margin-left: 5rem;
  margin-top: 1rem;
  border-radius: .6rem;
}
.about-heading
{
  margin-bottom: 2rem;
  margin-left: 6rem;
}
.about-intro
{
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: medium;
  font-weight: 500;
  font-style: oblique;
  text-align: justify;
  padding-right: 5rem;
  
}